body {
	font: 13px/1.5 sans-serif;
	background-color: white;
	margin: 0.3em 0;
}

section {
	padding: 0.5em 1em;
	display: inline-block;
}

div {
	display: block;
}

a {
	text-decoration: none;
	unicode-bidi: embed;
	white-space: nowrap;
	outline: 0;
	color: #0645AD;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

ul {
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

img {
	width: 135px;
	height: 155px;
}
#intro {
	text-align: justify;
	vertical-align: top;
	width: 90%;
	font-size: 150%;
	margin: 0 auto;
}

#titlehead {
	text-align: right;
}


#footer {
	text-align: center;
	width: 70%;
	margin: 10px auto;
	border-top: 1px solid #AAAAAA;
}

#footer ul, #footer ul li {
	display: inline;
	padding: 0;
	margin: 0 10px;
}

.tiles {
	display: inline-block;
	padding: .5em 1em;
	padding-right: 4.85em;
	padding-left: 3.25em;
	vertical-align: middle;
	text-align: center;
	margin: 0px auto;
}

.container  {
	width: 80%;
	margin: 0 auto;
}

.content {
	width: 1000px;
	margin: 0 auto;
	vertical-align: middle;
}